node_modules/
npm-debug.log*

90_logs/
40_rag_index/

10_processed/
20_markdown/
30_metadata/

50_events/
60_intents/
70_runtime/


# generated snapshots / exports
case_registry.json
80_export/
ui/public/dashboard_state.json
ui/dist/
